@font-face {
    font-family: 'fredoka';
    font-style: normal;
    font-weight: normal;
    src: local('Fredoka One Regular'), 
        url('FredokaOne-Regular.woff') 
        format('woff');
}

html {
    height: 100%;
}
body{
    background-color: #e6ffff;
}
main h2 {
    text-align: center;
    font-family: 'fredoka';
}
h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'fredoka';

}
.about p{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.wall-efacts{
    background-color:white;
    border-radius: 10px;
    text-align: justify;
    width: 93%;
    margin:auto;
    margin-top: 5%;
}
.info {
    margin-left: -3%;
    list-style-type: none;
    font-weight: bold;
}
.fave-headings {
    padding-top: 2%;
    padding-left: 15%;
}

.lists {
    padding-left:20%;
    margin-top: -5%;
    padding-top: 1%;
    padding-bottom: 5%;
}

.media-body {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
img {
    border-radius: 10px;
}

.face{
    max-width: 100%;
}
.fullwall-e, .aiko, .lizzy{
    padding:0;
    border-radius: 10px;
    margin:auto;
}

/*Start of friends css */
.spy{
    height: 100vh;
    overflow-y: scroll;
}
#friends-nav a{
    padding: 0px 130px;
    color: black;
}
#friends-nav a:hover {
    background-color: #ffe6ff;
}
.nav-link.active {
    background-color: #ffe6ff !important;
}

.friend-row {
    margin: 10% 0%;
}

.aiko {
    margin-left: auto;
    margin-right: auto;
}
.about-aiko {
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    margin-top: -5%;
    margin:auto;
    padding-bottom: 5%;
}
.about-cupid {
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    margin:auto;
    padding-top: 8%;
}

.about-lizzy {
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    padding-top: 8%;
    margin:auto;
}
.cody {
    padding:0;
    border-radius: 10px;
    margin: auto;
}
.about-cody {
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    margin:auto;
    padding-top:-2%;
}

/*Gallery css */
.carousel-inner img {
    margin:auto;
    max-width: auto;
    height: 500px;
    border: solid white 25px;
    border-radius: 10px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: pink;
    border-radius: 10px;
}
/*About adoption styles*/
.adopt-main {
    text-align: center;
    margin: 0% 15%;
}
.accordion {
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
.card-header {
    background-color: #ffe6ffd2;
}
.card button {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card button:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 /* adoption sites css */
.adoption-site {
    margin: auto;
}

.hover-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.petfinder:hover .hover-img {
    opacity: 0.3;
}

.petfinder:hover .middle {
    opacity: 1;
}
.petango:hover .hover-img {
    opacity: 0.3;
}
.petango:hover .middle {
    opacity: 1;
}

.text {
    background-color:#f7c6f7;
    color:black;
    font-size: 16px;
    padding: 16px 32px;
  }
/*I'm sorry my css code is a disaster
feedback css */
form {
    width: 80%;
    margin: auto;
}

.btn{
    background-color: #ffe6ff;
    color: black;
    border-color: #ffe6ff;
}
.btn:hover {
    background-color: #f7c6f7;
    color: black;
    border-color: #ffe6ff;
}

.btn:active {
    background-color: #ffe6ff;
    color: black;
    border-color: #ffe6ff; 
}
.btn:visited {
    background-color: #ffe6ff;
    color: black;
    border-color: #ffe6ff; 
}

/*footer css*/
.footer {
    background-color: rgba(255, 255, 255, 0.817);
    margin-top: 20%;
    padding-bottom:1%;
    padding-top:1%;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;

}
svg {
    margin-left: 5%;
}

.insta-link:hover {
    opacity:0.3;
}

